---
import Layout from '../layouts/Layout.astro';
import Navbar from '../components/Navbar.astro';
import Button from '../components/Button.astro';
import './global.css';
---
<Layout title="About - Nathan Lands">
	<main>
		<Navbar />
		<h1 className="title">About</h1>
				<p class="text-xl">Previously I started and sold several startups in San Francisco. And I coined the term gamify. 
		<p class="text-xl mt-4">I'm currently working on a new project called <a href="https://lore.com">lore.com</a>.</p>
		<p>I occasionally do <a href="/works">freelance work</a>. 
		<Button>Contact me</Button>
	</main>
</Layout>

<style>
	:root {
		--astro-gradient: linear-gradient(0deg,#ADCCE3, #F03D61);
	}

	.text-gradient {
		font-weight: 900;
		background-image: var(--astro-gradient);
		-webkit-background-clip: text;
		-webkit-text-fill-color: transparent;
		background-size: 100% 200%;
		background-position-y: 100%;
		border-radius: 0.4rem;
		animation: pulse 6s ease-in-out infinite;
	}

	@keyframes pulse {
		0%, 100% { background-position-y: 0%; }
		50% { background-position-y: 80%; }
	}
</style>
