---
import Layout from '../layouts/Layout.astro';
import Navbar from '../components/Navbar.astro';
import Button from '../components/Button.astro';
import Footer from '../components/Footer.astro';
import './global.css';
---
<Layout title="Nathan Lands Portfolio">
	<main>
		<Navbar /> 
		<div class="my-24">
		  <h1 class="text-7xl"><span class="text-gradient">Entrepreneur, developer and designer</span> based in Kyoto.</h1>
			<h2 class="text-xl mr-44 mt-4 text-zinc-400">I'm a full-stack developer passionate about building beautiful products that solve problems. I previously <a href="/works"><span class="text-zinc-300 hover:text-zinc-100">created and sold startups</span></a> in San Francisco. And I coined the term Gamify.</h2>
		</div>
		<div class="flex flex-wrap ">
	<img src="/nathan.jpg" class="rounded-full grayscale hover:grayscale-0" width="200px" />	
	<h2 class="text-xl mr-36 mt-4 text-zinc-400">I'm experienced with all parts of launching a product from inception to launch and beyond.</h2>
	<div class="mt-8"><a href="mailto:nathan@lore.com"><Button>Contact me</Button></a></div>
		</div>
		<Footer />
	</main>
</Layout>

<style>
	:root {
		--astro-gradient: linear-gradient(0deg,#ADCCE3, #0691F3);
	}

	.text-gradient {
		font-weight: 900;
		background-image: var(--astro-gradient);
		-webkit-background-clip: text;
		-webkit-text-fill-color: transparent;
		background-size: 100% 200%;
		background-position-y: 100%;
		border-radius: 0.4rem;
		animation: pulse 4s ease-in-out infinite;
	}

	@keyframes pulse {
		0%, 100% { background-position-y: 0%; }
		50% { background-position-y: 80%; }
	}
</style>
