---
// Woo 
// -----------------------------------
---
<div class="pt-14 pb-14 align-baseline">
	<div class="flex justify-center text-zinc-700">
	© 2022 Nathan Lands. All Rights Reserved.
		</div>
	<div class="flex justify-end text-zinc-500">
    Source		
	</div>
</div>
