---
// Woo 
// -----------------------------------
---
	<div class="flex pt-14 pb-14">
				<div class="flex-1 hover:brightness-125">
						<a href="/">
							<img
								src="/nathanlands.svg"
								width={200}
								alt="Nathan Lands"
							/>
						</a>
				</div>

				<div class="block md:hidden">Hamburger</div>

				<div class="hidden md:block">
					<ul class="flex mr-4">
						<li class="mr-8 text-zinc-400 hover:text-zinc-100">
							<a href="/about">about</a>
						</li>
						<li class="mr-8 text-zinc-400 hover:text-zinc-100">
							<a href="/works">works</a>
						</li>
						<li class="mr-8 text-zinc-400 hover:text-zinc-100">
							<a href="mailto:nathan@lore.com">contact</a>
						</li>
					</ul>
				</div>
			</div>
