---
// Woo 
// -----------------------------------
---
  <div class="grid-flow-row mx-auto justify-center align-middle flex">
	<span class="font-bold text-red-500 mr-2"> Work In Progress! </span> Currently building this to play with Astro and animation. <a href="https://github.com/NathanLandsX/nathan-portfolio"><span class="underline ml-2"> Source code here</span></a>. 
	</div>
	<div class="flex pt-14 pb-14">
				<div class="flex-1 hover:brightness-125">
						<a href="/">
							<img
								src="/nathanlands.svg"
								width={160}
								height={20}
								alt="Nathan Lands"
							/>
						</a>
				</div>

				<div class="block md:hidden">Hamburger</div>

				<div class="hidden md:block">
					<ul class="flex mr-4">
						<li class="mr-8 text-zinc-400 hover:text-zinc-100">
							<a href="/about">about</a>
						</li>
						<li class="mr-8 text-zinc-400 hover:text-zinc-100">
							<a href="/works">works</a>
						</li>
						<li class="mr-8 text-zinc-400 hover:text-zinc-100">
							<a href="mailto:nathan@lore.com">contact</a>
						</li>
					</ul>
				</div>
			</div>
